<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Companies</title>
</head>

<body>
{{> common/_navigation }}

<h1>Companies</h1>
  
<form method="post" action="/companies/create">
	<h2>Add Company</h2>
	<input type="text" name="name" required>
	<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
	<button>Add Company</button>
</form>

<table>
	<thead>
		<tr>
		<th>Company Name</th>
		<th>Number Of Invoices</th>
		</tr>
	</thead>
	
	<tbody>
		{{#companies}}
			<tr>
				<td>{{ name }}</td>
				<td>{{ invoices.size }}</td>
			</tr>
		{{/companies}}
	</tbody>
</table>

</body>

</html>