<!doctype html>
<html>

<head>
<meta charset="UTF-8">
<title>Create A New Tool</title>
</head>

<body>

<form method=post action="/tools/new">

  Tool Name : <input type="toolName" name="toolName" placeholder="Tool Name" required><br>
  Tool Desc : <input type="toolDescription" name="toolDescription" placeholder="Tool Description" required><br>
  <br>
  Tool Image: <input type="image" name="image" placeholder="Tool image" required>
  File to Upload: <input type="file" name="file"></br> 

  <br> 
  <br>
  <button>Create Tool</button>
  
</form>

</body>
</html>